## DF Group By

## GroupBy-1: Simple Example

In [8]:
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:,.2f}'.format

In [3]:
data_location = '../data/house-sales-simplified.csv'
#data_location = 'https://raw.githubusercontent.com/elephantscale/python-data-analytics/main/data/house-sales-simplified.csv'
# data_location = 'https://raw.githubusercontent.com/elephantscale/datasets/master/house-prices/house-sales-simplified.csv'

house_sales = pd.read_csv (data_location)
house_sales

,ID,Date,SalePrice,PropertyID,PropertyType,Bedrooms,Bathrooms,SqFtTotLiving,SqFtLot,YrBuilt,ZipCode
0,1,9/16/14,280000,1000102,Multiplex,6,3.00,2400,9373,1991,98002
1,2,6/16/06,1000000,1200013,Single Family,4,3.75,3764,20156,2005,98166
2,3,1/29/07,745000,1200019,Single Family,4,1.75,2060,26036,1947,98166
3,4,2/25/08,425000,2800016,Single Family,5,3.75,3200,8618,1966,98168
4,5,3/29/13,240000,2800024,Single Family,4,1.75,1720,8620,1948,98168
...,...,...,...,...,...,...,...,...,...,...,...
27058,27059,10/31/12,374000,9895000030,Townhouse,2,1.75,1410,1161,2011,-1
27059,27060,12/7/12,374000,9895000040,Townhouse,2,1.75,1410,1005,2011,-1
27060,27061,7/9/12,165000,9899200010,Single Family,4,1.00,1070,11170,1971,98055
27061,27062,5/26/06,315000,9900000355,Single Family,3,2.00,1345,6223,1939,98166
27062,27063,1/9/07,465000,9906000035,Single Family,3,1.50,790,4400,1928,98103

---

### Find house sales per bedroom

We are going to use `groupby`

In [10]:
bedroom_sales = house_sales.groupby(['Bedrooms']).size()
bedroom_sales

Bedrooms
0        12
1       164
2      3415
3     12074
4      9190
5      1872
6       275
7        41
8        10
9         5
11        3
13        1
33        1
dtype: int64

---

Let's sort the output by most sold to least sold.  We can use `sort_values`

In [11]:
bedroom_sales.sort_values(ascending=False)

Bedrooms
3     12074
4      9190
2      3415
5      1872
6       275
1       164
7        41
0        12
8        10
9         5
11        3
13        1
33        1
dtype: int64

---

### Making sense of the data

We have some large houses with 10+ bedrooms :-)

---

### Calculate Sales per PropertyType

We see houses of type 'Single Family', 'Townhouse' ..etc

Calculate sales per type

In [ ]:
## TODO: your code here

 house_sales.groupby(['???']).size()

---

## Group by - Multiple Columns

Let's find sales per PropertyType and Bedrooms.  It is very easy

In [14]:
house_sales.groupby(['PropertyType', 'Bedrooms']).size()

PropertyType   Bedrooms
Multiplex      2             13
               3             42
               4            120
               5             28
               6             43
               7              8
               9              4
               13             1
Single Family  0              7
               1            134
               2           2313
               3           9916
               4           8998
               5           1842
               6            232
               7             33
               8             10
               11             2
               33             1
Townhouse      0              5
               1             30
               2           1089
               3           2116
               4             72
               5              2
               9              1
               11             1
dtype: int64

---

## Filter + Group By

Let's kick this up a notch.  Generate a report of 'sales by bedrooms' for houses sold for over a million.

In [18]:
over_million = house_sales.loc[house_sales['SalePrice'] > 1000000]
over_million

,ID,Date,SalePrice,PropertyID,PropertyType,Bedrooms,Bathrooms,SqFtTotLiving,SqFtLot,YrBuilt,ZipCode
61,62,4/13/12,1285000,31000165,Single Family,5,3.50,3620,7821,1958,98040
86,87,10/25/10,1713000,46100350,Single Family,5,3.50,5000,26540,2008,98040
87,88,7/7/08,1852000,46100509,Single Family,4,3.25,5050,16240,1987,98040
88,89,3/19/08,3650000,46100510,Single Family,5,5.50,6210,16750,2009,98040
152,153,10/16/06,1020000,98000030,Single Family,4,3.25,5210,12946,2002,98075
...,...,...,...,...,...,...,...,...,...,...,...
26981,26982,3/23/06,1900000,9831200155,Townhouse,3,3.25,3890,2968,2006,-1
26982,26983,8/20/07,1900000,9831200159,Townhouse,3,3.25,3890,3452,2006,-1
26983,26984,11/14/13,1100000,9831200172,Townhouse,4,3.50,2860,2199,2013,-1
26988,26989,5/10/10,2475000,9831200500,Single Family,5,4.25,6810,7500,1922,98102
27057,27058,9/28/07,1580000,9845500010,Single Family,4,4.50,4720,23914,2000,98040

In [ ]:
## TODO: now group 'over_million' by number of bedrooms and calculate the size